.wrapper {
  &:after {
    content: ' ';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0em;
    height: 0.25em;
    border-radius: 99em;
    background-color: var(--mantine-color-dark-7);
  }
}
.root {
  background-color: var(--mantine-color-dark-8);
  border-radius: var(--mantine-radius-md);
}
.table {
  tr {
    border: none;
  }
}
.scrolled {
  box-shadow: var(--mantine-shadow-sm);
}
.body {
  tr {
    &:first-of-type {
      margin-top: 1em;
    }
    border: none;
    @mixin hover {
      background-color: var(--mantine-color-blue-light);
    }

    td {
      &:first-of-type {
        border-top-left-radius: var(--mantine-radius-md);
        border-bottom-left-radius: var(--mantine-radius-md);
      }
      &:last-of-type {
        border-top-right-radius: var(--mantine-radius-md);
        border-bottom-right-radius: var(--mantine-radius-md);
      }
    }
  }
}

.head {
  position: sticky;
  background-color: var(--mantine-color-dark-6);
  border: none;
  top: 0;
  transition: box-shadow 150ms ease;
  z-index: 201;
}

.headItem {
  font-weight: 400;
  padding: var(--mantine-spacing-md);

  &:first-of-type {
    border-top-left-radius: var(--mantine-radius-md);
    border-bottom-left-radius: var(--mantine-radius-md);
  }
  &:last-of-type {
    border-top-right-radius: var(--mantine-radius-md);
    border-bottom-right-radius: var(--mantine-radius-md);
  }
}

.control {
  width: 100%;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.icon {
  width: 21px;
  height: 21px;
  border-radius: 21px;
}
