.page {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: rem(16px);
  padding: rem(16px);
}

.head {
  grid-area: 1/1/2/9;
}

.cards {
  gap: rem(16px);
  grid-area: 2/1/3/3;
  display: grid;
  grid-template-rows: 2.5fr 1fr 1fr 1fr 1fr;
}

.table {
  grid-area: 2/2/3/9;
  overflow-y: scroll;
}

.topBox {
  grid-area: 2/1/3/3;
}
.middleBox {
  grid-area: 3/1/4/3;
}
.bottomBox {
  grid-area: 4/1/5/3;
}

.calendar {
  grid-area: 2/2/3/9;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: rem(16px);
}
