.wrapper {
  padding-top: rem(16px);
  padding-bottom: rem(16px);
  border-radius: var(--mantine-radius-md);

  transition: all 0.2s ease;
  * {
    transition: all 0.2s ease;
  }

  &[data-condensed='true'] {
    border-radius: 0;
    padding-top: rem(6px);
    padding-bottom: rem(6px);

    &:first-child {
      border-top-left-radius: var(--mantine-radius-md);
      border-top-right-radius: var(--mantine-radius-md);
    }

    &:last-child {
      border-bottom-left-radius: var(--mantine-radius-md);
      border-bottom-right-radius: var(--mantine-radius-md);
    }
  }
}

.iconRoot {
  width: rem(60px);
  height: rem(60px);

  &[data-condensed='true'] {
    width: rem(36px);
    height: rem(36px);
  }
}

.title {
  font-size: rem(21px);
  &[data-condensed='true'] {
    font-size: rem(16px);
  }
}

.description {
  font-size: rem(16px);
  &[data-condensed='true'] {
    font-size: rem(12px);
  }
}
