.page {
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--mantine-color-gray-6);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--mantine-color-gray-5);
  }
}
