.wrapper {
  padding-top: rem(8px);
  padding-bottom: rem(8px);
  border-radius: var(--mantine-radius-md);

  transition: all 0.2s ease;
  * {
    transition: all 0.2s ease;
  }
}

.iconRoot {
  width: rem(50px);
  height: rem(50px);
  flex-shrink: 0;
}

.label {
  font-size: rem(12px);
}

.title {
  font-size: rem(20px);
}

.description {
  font-size: rem(14px);
}
